@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'M PLUS 2', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
    align-items: center;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 50px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.container{
    min-height: 60vh;
    background-color: black;
    font-family: 'Varela Round', sans-serif;
    color: rgb(30, 164, 241);
    display: flex;
    margin: 23px auto;
    width: 70%;
    padding: 30px;
    border-radius: 6px;
    background-image: url('icons/bg.jpg');
    background-position: center;
    background-size: cover;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.bottom{
    position: sticky;
    background-color: black;
    height: 117px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 10px;
}

.icons i{
    cursor: pointer;
}

.song-list{
    position: absolute;
    left: 210px;
    top: 155px;
}

.song-item{
    opacity: 0.9;
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    width: 120%;
    justify-content: space-between;
    align-items: center;
}

.song-item img{
    width: 43px;
    margin: 0 23px;
}

.timestamp{
    padding: 0 23px;
    margin-right: 27px;
}

.timestamp i{
    cursor: pointer;
}

.song-info{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 10vw;
}

.song-info img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#gif2{
    opacity: 0;
    transition: 0.5s ease;
}

.second-gif{
    position: absolute;
    right: -85px;
    bottom: 162px;
    padding-right: 10px;
}

.volume-bar{
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: 21px;
    display: flex;
}